<div class="card w-14rem m-2">
    <div class="card-body">
      <h5 class="card-title text-capitalize">
        {{name}}
      </h5>
      <p class="card-text">
        Currently there are {{amount}} {{name}} in stock.
      </p>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="d-flex">
        <button 
          class="w-100 font-weight-bold btn btn-primary text-center d-flex justify-content-around"
          [disabled]="!f.valid">
          Add!
        </button>  
          <input 
          class="amount-selector ml-2 border border-primary p-1 rounded" 
          min="0" 
          name="amountToAdd" 
          ngModel
          placeholder="0"
          value="0" 
          type="number"
          #amountToAdd
          >   
      </form>     
    </div>
  </div>