
<div class="d-flex flex-wrap">
    <app-card [amount]="ingredients" [name]="'cheese'"></app-card>
    <app-card [amount]="ingredients" [name]="'tomatosauce'"></app-card>
    <app-card [amount]="ingredients" [name]="'ham'"></app-card>
    <app-card [amount]="ingredients" [name]="'pineapple'"></app-card>
    <app-card [amount]="ingredients" [name]="'kebab'"></app-card>
    <app-card [amount]="ingredients" [name]="'mushrooms'"></app-card>
    <app-card [amount]="ingredients" [name]="'onion'"></app-card>
    <app-card [amount]="ingredients" [name]="'peperoncino'"></app-card>
    <app-card [amount]="ingredients" [name]="'lettuce'"></app-card>
    <app-card [amount]="ingredients" [name]="'tomato'"></app-card>
    <app-card [amount]="ingredients" [name]="'kebabsauce'"></app-card>
    <app-card [amount]="ingredients" [name]="'shrimp'"></app-card>
    <app-card [amount]="ingredients" [name]="'clam'"></app-card>
    <app-card [amount]="ingredients" [name]="'artichoke'"></app-card>
    <app-card [amount]="ingredients" [name]="'cilantro'"></app-card>
</div>